body {
  text-align: center;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

span {
  font-weight: 700;
}

a {
  text-decoration: none;
  font-family: Arial, sans-serif;
}

a:hover {
  opacity: 65%;
}

a:visited {
  color: inherit;
}

img {
  display: block;
  margin: auto;
}

.background-collage {
  max-width: 90%;
  margin-bottom: 4rem;
}

.recipe-img {
  max-width: 50%;
  margin-bottom: 4rem;
}

.logout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}

.logout-button {