body {
  text-align: center;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

span {
  font-weight: 700;
}

a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: inherit;
}

a:hover {
  opacity: 65%;
}

a:visited {
  color: inherit;
}

img {
  display: block;
  margin: auto;
}

.background-collage {
  max-width: 90%;
  margin-bottom: 4rem;
}

.nav-bar-ajs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 225, 255);
  height: 4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.logo-div {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 3rem;
}

.recipe-div {
  margin-bottom: 4rem;
}

.recipe-img {
  max-width: 50%;
  margin: auto;
}
