{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>ReciSpot</title>
</head>
<body>
    <div class="logout-container"><a class="logout-button" href="{%url 'logout' %}"> Logout </a></div>
    <h1>Welcome to ReciSpot!</h1>
    <img class="background-collage" src="{% static 'images/recipe-collage-4.jpg' %}" alt="home">
    <h2><a class="view-recipes" href="{% url 'recipes:recipes_list' %}">Click Here to View All Recipes!</a></h2>

</body>
</html>