{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>ReciSpot</title>
</head>
<body>
    <div class="logout-container"><a class="logout-button" href="{%url 'logout' %}"> Logout </a></div>
    <h1>ReciSpot: All Recipes</h1>
    <img class="background-collage" src="{% static 'images/recipe-collage-1.jpg' %}" alt="home">
    <h2>Here are all of our user-submitted recipes:</h2>
    <div>
        {% for recipe in recipes %}
        <div>
            <a href="{% url 'recipes:recipe_detail' recipe.id %}">
                <img class="recipe-img" src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
                <h3