{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>ReciSpot</title>
</head>
<body>
    <div class="logout-container">
        <a class="logout-button" href="{%url 'logout' %}"> Logout </a>
    </div>
    <h1>ReciSpot: All Recipes</h1>
    <img class="background-collage" src="{% static 'images/recipe-collage-1.jpg' %}" alt="home">

    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Search</button>

    </form>

    <hr>
    <hr>

    <h2>Here are all of our user-submitted recipes:</h2>
    <hr>

    <div>
        {% for recipe in recipes %}
        <div class="recipe-div">
            <a href="{% url 'recipes:recipe_detail' recipe.id %}">
                <h3>{{ recipe.name }}</h3>
                <img class="recipe-img" src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>